node_modules
dist
build
.DS_Store
*.log
coverage
local-server/output
local-server/tmp
local-server/fixtures
local-server/release
local-server/release-win
local-server/.pkg-cache
extension/dist
local-server/bin/*
!local-server/bin/
!local-server/bin/win32-x64/
!local-server/bin/win32-x64/.gitkeep
Thumbs.db
